In [1]:
# Abrir a conex√£o com o banco de dados
import sqlite3
import pandas as pd

In [2]:
conn = sqlite3.connect('database.db')

In [3]:
consulta_atividade = "SELECT * FROM flight_activity"

df_atividade = pd.read_sql_query (consulta_atividade, conn)
df_atividade.head(5)

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0

In [4]:
df_atividade.shape

(405624, 10)

In [5]:
consulta_atividade = """
  SELECT
  *
  FROM flight_loyalty_history
"""
df_atividade = pd.read_sql_query (consulta_atividade, conn)
df_atividade.head(15)

,loyalty_number,country,province,city,postal_code,gender,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,480934,Canada,Ontario,Toronto,M2Z 4K1,Female,Bachelor,83236.0,Married,Star,3839.14,Standard,2016,2,NaN,NaN
1,549612,Canada,Alberta,Edmonton,T3G 6Y6,Male,College,NaN,Divorced,Star,3839.61,Standard,2016,3,NaN,NaN
2,429460,Canada,British Columbia,Vancouver,V6E 3D9,Male,College,NaN,Single,Star,3839.75,Standard,2014,7,2018.0,1.0
3,608370,Canada,Ontario,Toronto,P1W 1K4,Male,College,NaN,Single,Star,3839.75,Standard,2013,2,NaN,NaN
4,530508,Canada,Quebec,Hull,J8Y 3Z5,Male,Bachelor,103495.0,Married,Star,3842.79,Standard,2014,10,NaN,NaN
5,193662,Canada,Yukon,Whitehorse,Y2K 6R0,Male,Bachelor,51124.0,Married,Star,3844.57,Standard,2012,5,NaN,NaN
6,927943,Canada,Ontario,Toronto,P5S 6R4,Female,College,NaN,Single,Star,3857.95,Standard,2014,6,NaN,NaN
7,188893,Canada,Ontario,Trenton,K8V 4B2,Male,Bachelor,100159.0,Married,Star,3861.49,Standard,2016,12,NaN,NaN
8,852392,Canada,Quebec,Montreal,H2Y 2W2,Female,Bachelor,100159.0,Married,Star,3861.49,Standard,2015,5,NaN,NaN
9,866307,Canada,Ontario,Toronto,M8Y 4K8,Male,Bachelor,100159.0,Married,Star,3861.49,Standard,2016,10,NaN,NaN
10,932823,Canada,British Columbia,Vancouver,V6E 3D9,Female,Bachelor,66444.0,Married,Star,3863.31,Standard,2015,3,NaN,NaN
11,144514,Canada,British Columbia,Dawson Creek,U5I 4F1,Female,Bachelor,49618.0,Married,Star,3864.78,Standard,2016,6,NaN,NaN
12,611765,Canada,Quebec,Quebec City,G1B 3L5,Male,Bachelor,90175.0,Single,Star,3867.97,Standard,2018,1,NaN,NaN
13,988178,Canada,Quebec,Montreal,H4G 3T4,Male,College,NaN,Single,Star,3871.07,Standard,2013,10,NaN,NaN
14,286114,Canada,Ontario,Toronto,M2M 7K8,Female,College,NaN,Single,Star,3872.22,Standard,2016,11,NaN,NaN

In [6]:
df_atividade.shape

(16737, 16)

In [6]:
consulta_atividade = """
  SELECT
    *
  FROM flight_loyalty_history flh LEFT JOIN flight_activity fa
    """
df_atividade = pd.read_sql_query (consulta_atividade, conn)
df_atividade.head(10)

## Inspe√ß√£o de Dados

In [7]:
# Verificar o n√∫mero de linhas de uma planilha

df_atividade.shape[0]

10

In [ ]:
df_atividade.shape[1]

10

In [ ]:
# Insights Inicias sobre as colunas

df_atividade.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405624 entries, 0 to 405623
Data columns (total 10 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   loyalty_number               405624 non-null  int64
 1   year                         405624 non-null  int64
 2   month                        405624 non-null  int64
 3   flights_booked               405624 non-null  int64
 4   flights_with_companions      405624 non-null  int64
 5   total_flights                405624 non-null  int64
 6   distance                     405624 non-null  int64
 7   points_accumulated           405624 non-null  float64
 8   points_redeemed              405624 non-null  int64
 9   dollar_cost_points_redeemed  405624 non-null  int64
dtypes: float64(1), int64(9)
memory usage: 30.9 MB

In [ ]:
dist_media = df_atividade.loc[:, 'distance'].mean()
soma_dist = df_atividade.loc[:, 'distance'].sum()
dist_min = df_atividade.loc[:, 'distance'].min()
dist_max = df_atividade.loc[:, 'distance'].max()

print (dist_media)
print (soma_dist)
print (dist_min)
print (dist_max)

1208.880058872256
490350765
0
6293

In [ ]:
df_atividade.isna().sum()

loyalty_number                 0
year                           0
month                          0
flights_booked                 0
flights_with_companions        0
total_flights                  0
distance                       0
points_accumulated             0
points_redeemed                0
dollar_cost_points_redeemed    0
dtype: int64

 ### 1. Selecionar os n√∫meros do cart√£o de fidelidade dos passeiros, a cidade e o g√™nero, dos passageiros que tem o cart√£o Star de fidelidade, mas nunca realizaram nenhuma viagem de avi√£o ( Dica: ‚Äúloyalty_card‚Äù = ‚ÄúStar‚Äù e ‚Äúdistance‚Äù = 0 )

In [5]:
cosulta_atividade = """
  SELECT
    fa.loyalty_number,
    flh.city,
    flh.gender,
    flh.loyalty_card
  FROM flight_activity fa LEFT JOIN flight_loyalty_history flh
                              ON (fa.loyalty_number = flh.loyalty_number)
  WHERE flh.loyalty_card = 'Star' AND fa.distance = '0'
"""
df_atividade = pd.read_sql_query (consulta_atividade, conn)
df_atividade.head(10)

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed
0,100018,2017,1,3,0,3,1521,152.0,0,0
1,100102,2017,1,10,4,14,2030,203.0,0,0
2,100140,2017,1,6,0,6,1200,120.0,0,0
3,100214,2017,1,0,0,0,0,0.0,0,0
4,100272,2017,1,0,0,0,0,0.0,0,0
5,100301,2017,1,0,0,0,0,0.0,0,0
6,100364,2017,1,0,0,0,0,0.0,0,0
7,100380,2017,1,0,0,0,0,0.0,0,0
8,100428,2017,1,6,0,6,606,60.0,0,0
9,100504,2017,1,0,0,0,0,0.0,0,0

### 2) Selecionar os n√∫meros do cart√£o de fidelidade, o g√™nero e a cidade de todos os passageiros do sexo feminino que moram na cidade de Toronto, fizeram mais de 30 viagens no total e tem o cart√£o de fidelidade do tipo Aurora.

In [ ]:
cosulta_atividade= """
  SELECT
    fa.loyalty_number,
    flh.city,
    flh.gender,
    flh.loyalty_card
  FROM flight_activity fa LEFT JOIN flight_loyalty_histoy flh
                            ON (fa.loyalty_number = flh.loyalty_number)
  WHERE flh.loyalty_card = 'Aurora'
            AND fa.gender = 'Female'
            AND flh.city = 'Toronto'
            AND flh.total_flights > '30'
"""
df_atividade = pd.read_sql_query (consulta_atividade, conn)
df_atividade.head(10)

,loyalty_number,year,month,flights_booked,flights_with_companions,total_flights,distance,points_accumulated,points_redeemed,dollar_cost_points_redeemed,...,education,salary,marital_status,loyalty_card,clv,enrollment_type,enrollment_year,enrollment_month,cancellation_year,cancellation_month
0,100018,2017,1,3,0,3,1521,152.0,0,0,...,Bachelor,92552.0,Married,Aurora,7919.20,Standard,2016,8,NaN,NaN
1,100102,2017,1,10,4,14,2030,203.0,0,0,...,College,NaN,Single,Nova,2887.74,Standard,2013,3,NaN,NaN
2,100140,2017,1,6,0,6,1200,120.0,0,0,...,College,NaN,Divorced,Nova,2838.07,Standard,2016,7,NaN,NaN
3,100214,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,63253.0,Married,Star,4170.57,Standard,2015,8,NaN,NaN
4,100272,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,91163.0,Divorced,Star,6622.05,Standard,2014,1,NaN,NaN
5,100301,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,70323.0,Divorced,Nova,48356.96,Standard,2013,9,NaN,NaN
6,100364,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,76849.0,Married,Nova,5143.88,Standard,2015,5,NaN,NaN
7,100380,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,69695.0,Single,Star,2465.62,Standard,2012,10,NaN,NaN
8,100428,2017,1,6,0,6,606,60.0,0,0,...,Bachelor,63478.0,Married,Aurora,5845.43,Standard,2012,8,NaN,NaN
9,100504,2017,1,0,0,0,0,0.0,0,0,...,Bachelor,75638.0,Divorced,Nova,8807.61,Standard,2017,7,2018.0,3.0

In [ ]:
print ('hello world')

hello world

In [ ]:
cosulta_atividade = """
  SELECT
    fa.loyalty_number,
    flh.city,
    flh.gender,
    flh.loyalty_card
  FROM flight_activity fa LEFT JOIN flight_loyalty_histoy flh
                            ON (fa.loyalty_number = flh.loyalty_number)
  WHERE flh.loyalty_card = 'Aurora'
"""
df_atividade = pd.read_sql_query (consulta_atividade, conn)
df_atividade.head(10)

   loyalty_number         city  gender loyalty_card
0          100214    Vancouver    Male         Star
1          100272      Toronto  Female         Star
2          100380     Montreal  Female         Star
3          100590    Vancouver  Female         Star
4          100644  Peace River  Female         Star
5          100646   St. John's  Female         Star
6          100737    Vancouver  Female         Star
7          101540       London  Female         Star
8          101547      Toronto  Female         Star
9          101644      Toronto  Female         Star